body {
  margin: 0;
  font-family: 'Inter', Helvetica, 'Helvetica Neue',Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', 'Fira Code', monospace;
  background-color: rgba(255, 255, 255, 0.05);
}

h1 {
  font-family: 'Fugaz One';
  font-weight: normal;
  font-size: 4.8rem;
}